.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.logos-container {
  display: flex;
  justify-content: space-between; /* Adjust the alignment as per your needs */
  align-items: center; 
  height: 300px;
  width: 1640px;
background-color: #282c34;


}
/* @media (max-width: 568px) {
  .logos-container {
    display: flex;
  justify-content: space-between; /* Adjust the alignment as per your needs */
  /* align-items: center; 
  background-color: #282c34;
  } */

  .logos-wrapper {
    /* Custom styles for smaller screens */
    
          justify-content: 'center';
        max-width: 100%;
          
  }

  p {
    /* Custom styles for smaller screens */
    max-width: "100%";
  }

  /* Adjust the logo styles as needed */
  .logos-wrapper Logo {
    /* Custom styles for smaller screens */
    justify-content: 'center';
    max-width: "100%";
  }
/* } */ 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
